.login {
  height: calc(100vh - 52px);
  &__content {
    &__left {
      background: url('/images/twitter.png') no-repeat center center / contain;
    }
    &__right {
      padding: 8% 10%;
      overflow: scroll;
      height: 100%;
    }
  }
}