.posts {
  &__center {
    margin-top: 20px;
    @media screen and (min-width: 1088px) {
      margin: 0 30px;
    }
  }

  &__user {
    border-radius: 8px;
    padding: 3px;

    &__left {
      flex: none;

      &__img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
    }

    &__right {
      &__top {
        margin-bottom: 3px !important;
      }
    }
  }

  &__newpost {
    border-radius: 8px;
    padding: 20px;
  }

  &__post {
    border-radius: 8px;

    &__left {
      flex: none;

      &__img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }

    &__right {
      &__top {
        margin-bottom: 10px !important;
      }

      &__name {
        word-break: break-all;
        color: #14171a;
        font-weight: bold;
        padding-right: 7px;
      }

      &__username {
        color: grey;
      }

      &__content {

      }
    }
  }
}