.posts {
  padding: 50px 0;
  @media screen and (max-width: 1088px) {
    padding: 50px 30px 50px 30px;
  }

  &__center {
    border-radius: 8px;
    margin-top: 20px;
    @media screen and (min-width: 1088px) {
      margin: 0 30px;
    }
  }

  &__newpost {
    border-radius: 8px;
    padding: 7px;
  }

  &__post {
    position: relative;
    border-radius: 8px;

    &__delete {
      .delete-post {
        position: absolute;
        top: -9px;
        right: -9px;
        background: url('/images/error.svg') no-repeat center center / contain;
        height: 20px;
        width: 20px;
      }
    }

    &__left {
      flex: none;

      &__img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }

    &__right {
      &__top {
        margin-bottom: 10px !important;
      }

      &__name {
        @extend .has-text-black;
        font-weight: 700;
        padding-right: 7px;
      }

      &__username {
        color: grey;
        @extend .is-size-7;
      }

      &__date {
        color: grey;
      }

      &__content {

      }
    }
  }
}