.button {
  border-radius: 50px;
  border: none;
  padding: 20px 40px;
  line-height: 0px;

  &:focus {
    box-shadow: none !important;
  }

  &.is-success {
    &:hover {
      background-color: #23B960;
    }
  }
  &.background-color-white, .background-color-primary {
    &:hover {
      background-color: #0F71CC;
      color: #ffffff !important;
    }
  }
}