.button {
  border-radius: 50px;
  border: none;
  padding: 20px 40px;
  line-height: 0px;

  &:focus {
    box-shadow: none !important;
  }

  &.background-color-white {
    &:hover {
      background-color: #0F71CC;
      color: #ffffff !important;
    }
  }
}